body {
    margin: 100;
    font-family: sans-serif;
    background-image: url("../css/heaven_to_hell.jpg");
    background-color: linear-gradient(to bottom right, blue, red);
    background-repeat: repeat-y;
    }


a:link {

    color: gray;
    
    }
    
a:visited {
    color: green;
    
    }
    
a:hover {
    color: purple;
    
    }
    
a:active {
    color: teal;
    
    }